body {
  background-color: white;
}

h1 {
  padding-top: 30px;
}

a {
  color: black;
  background-color: #dadada;
}

.searchText {
  width: 200px;
  border-width: 3px;
}

.searchSubmit {
  font-size: 20px;
  margin: 0 5px 0 5px;
  box-shadow: 2px 2px;
}

.randomBtn {
  margin-left: 5px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 2px 2px;
  
}

.resultSection {
  margin-top:  50px;
}

.resultBtn {
  font-size: 20px;
  width: 80%;
  text-align: left;
  margin-top: 10px;
  box-shadow: 2px 2px;
}

.resultBtn p {
  white-space: normal;
}

.resultBtn span {
  font-size: 30px;
  white-space: normal;
}